<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.ingenieria.sigma.applevantamiento" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal" >
        </activity>
        <activity
            android:name=".ApoyoActivity"
            android:label="@string/title_activity_apoyo"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
        <activity
            android:name=".TransformadorActivity"
            android:label="@string/title_activity_transformador"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
        <activity
            android:name=".CamaraActivity"
            android:label="@string/title_activity_camara"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
        <activity
            android:name=".LuminariaActivity"
            android:label="@string/title_activity_luminaria"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
        <activity
            android:name=".CircuitoActivity"
            android:label="@string/title_activity_circuito"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
        <activity
            android:name=".TramoActivity"
            android:label="@string/title_activity_tramo"
            android:parentActivityName=".PrincipalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.ingenieria.sigma.applevantamiento.PrincipalActivity" />
        </activity>
    </application>

</manifest>
